@model Entidad.Autor

@{
    ViewBag.Title = "Eliminar Autor";
}

<h2>EliminarAutor</h2>

<h3>Desea eliminar este autor?</h3>
<div>
    <h4>Datos del Autor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>

    @using (Html.BeginForm("EliminarAutor", "Autores", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.IdAutor)


        <div class="form-actions no-color">
            <button type="submit" value="Eliminar" class="btn btn-danger">Eliminar</button> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
