@model Entidad.Libro
    @{
        ViewBag.Title = "Detalles del Libro";
        int cont = 0;
        IEnumerable<Entidad.Autor> ListaAutores = ViewBag.Autores;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div>
        <h2>Detalle del Libro</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Editorial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Editorial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Area)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Area)
            </dd>

        </dl>

        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nº</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Nacionalidad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var AutorLibro in ListaAutores)
                    {
                        cont += 1;
                        <tr>
                            <td scope="row">@cont</td>
                            <td scope="row">@AutorLibro.Nombre</td>
                            <td scope="row">@AutorLibro.Nacionalidad</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLibro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
